<div class="card"
  data-controller="unprocessed-image"
  data-unprocessed-image-url="<%= unprocessed_image_path(unprocessed_image.id) %>">
  <%= image_tag unprocessed_image.image.variant({ thumbnail: "530x" }), class: "card-img" %>
  <div class="card-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar"
           aria-valuenow="0"
           aria-valuemin="0"
           aria-valuemax="100"
           data-target="unprocessed-image.progress">
      </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <div class="embed-responsive-item" data-target="unprocessed-image.map">
      </div>
    </div>
  </div>
</div>
