@charset "utf-8";

// base
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/root";

// utilities
@import "bootstrap/scss/utilities/background";
@import "bootstrap/scss/utilities/screenreaders";

// bootstrap components
@import "bootstrap/scss/alert";
@import "bootstrap/scss/card";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

@import "components/*";
